<!doctype html>
{% load static %}
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="description" content="FlatBest - Responsive One Page Fast Loading">
<meta name="keywords" content="One Page, Bootstrap, Website, Business, Resume, Portfolio, Template, Unlimited Colors">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- ===== Site Title===== -->
<title>联闪信息科技有限公司</title>

<!-- ===== Google Fonts ===== -->

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700">

<!-- ===== Favicon Icon ===== -->
<link rel="icon" href="{% static 'images/favicon.ico' %}">

<!-- ===== Bootstrap ===== -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- ===== Font Icons ===== -->
<link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">

<!-- ===== Corousel and Lightbox ===== -->
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %} ">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %} ">
<link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %} ">
<link rel="stylesheet" href="{% static 'css/themes/default/default.css' %}">

<!-- ===== Colors ===== -->
<link rel="stylesheet" href="{% static 'css/colors/color.css' %}"> 


<!-- ===== Preloader ===== -->
<link rel="stylesheet" href="{% static 'css/preloader.css' %}">

<!-- ===== style.css ===== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- ===== Responsive CSS ===== -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %} ">

<!--[===== if lt IE 9]>
			<script src="{% static 'js/html5shiv.js' %}"></script>
			<script src="{% static 'js/respond.min.js' %}"></script>
<![endif]===== -->
     
</head>

<body>
<!-- ===== preloader ===== -->
<div class="preloaders">
  <div class="preloaders-gif">&nbsp;</div>
</div>


<!-- ===== Header ===== -->
<header id="home">

<!-- ===== Over color Image ===== -->
<div class="background-overlay">
	
	<div class="container-header">
		
		<!-- ===== Sticky Navigation ===== -->
		<!-- div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation bgc-two" -->
		<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top ">
			<div class="container">
				<div class="navbar-header">
					
					<!-- ===== Logo on Sticky Navigation Bar ===== -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#onepage-navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">联闪信息</a>
					
				</div>
				
				<!-- ===== Navigation Menu ===== -->
				<div class="navbar-collapse collapse" id="onepage-navigation">
					<ul class="nav navbar-nav navbar-right main-navigation">
						<li><a href="#home">主页</a></li>
						<li><a href="#section-about">公司简介</a></li>
						<li><a href="#section-features">活动</a></li>
						<li><a href="#section-pricing">APP下载</a></li>
			<!--			<li><a href="#section-portfolio">介绍</a></li>
						<li><a href="#section-testimonial">用户反馈</a></li> -->
						<li><a href="#section-contact">联系我们</a></li>
					</ul>
				</div>
				
			</div>
			
		</div>
		
		<!-- ===== End Sticky Navigation ===== -->
		
	</div>
	
	<!-- ===== Welcome ===== -->
	<div class="container">
		
		<div class="row">
			
			<div class="col-md-10 col-md-offset-1 distance-header">
				
				<h1>
                    <strong>联闪科技，闪耀互联</strong>
				</h1>
				<div class="underline"> </div>
				<h2>
					如果您有一个初步的想法，我们可以免费为您提供咨询和设计！
				</h2>
				<h2>
					如果您有一个成熟的想法，我们帮您转化为产品！
				</h2>		
				<h2>
					再好的想法也要一款产品哦！
				</h2>
				
				
				<!-- ===== Call To Action Button ===== -->
				<div id="call_to_action-5" class="distance-button">
				
				<a href="#section-about" class="btn standard-button">()</a>
				
				</div>
				
			</div>

		</div>
		
	</div>
	<!-- ===== End Welcome ===== -->
	
</div>

</header>


<!-- ===== Section About ===== -->
<section class="section-about bgc-one" id="section-about">
<div class="container">
    
    <h2>关于联闪</h2>
    <div class="underline">
    </div>

    <p>
        		上海联闪信息科技有限公司是一家由物联网从业专家团队打造的高科技公司，公司自成立以来一直专注于物联网领域的探索、研究，以开发客户满意产品为己任。
        伴随着网络发展的日新月异，公司同时致力于打造客户网上购物的全新体验，推出了适合各年龄层的网络购物优选产品--七婆街，为客户网购提供全新体验。
        此外，公司承接苹果IOS、安卓Android系统各类应用咨询、开发、运维的一站式服务，为企业、个人提供满意可靠的解决方案。
    </p>
				
	
	<div class="row">
		<div class="col-md-6">
			<!-- ===== Images ===== -->
			<div class="side-images pull-left">
				<img src="{% static 'images/2.jpg' %}" alt="Feature" class="img-responsive">
			</div>
		</div>
		<div class="col-md-6">
			
			<div class="about text-left">
				
				<!-- ===== Features List ===== -->
				<ul class="feature-list">
					
					<li>
					<!-- ===== Icons ===== -->
					<div class="icon-custom pull-left">
						<i class="fa fa-laptop"></i>
					</div>
					<!-- ===== Detailt Post===== -->
					<div class="details pull-left">
						<h6>公司宗旨</h6>
						<p>
							为客户提供优质、满意的服务!

						</p>
					</div>
					</li>
					
					<li>
					<!-- ===== Icons ===== -->
					<div class="icon-custom pull-left">
						<i class="fa fa-cog"></i>
					</div>
					<!-- ===== Details Post ===== -->
					<div class="details pull-left">
						<h6>公司业务</h6>
						<p>
						    公司从事信息科技技术开发，咨询和技术服务，互联网信息服务，移动互联软件开发。
						</p>
					</div>
					</li>
					
					<li>
					<!-- ===== Icons ===== -->
					<div class="icon-custom pull-left">
						<i class="fa fa-photo"></i>
					</div>
					<!-- ===== Detail Post ===== -->
					<div class="details pull-left">
						<h6>公司理念</h6>
						<p>
						    联合科技创新人才，闪耀互联世界!
						</p>
					</div>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	
</div> 

</section>
<!-- ===== Section Video ===== -->
<!--
<section id="section-video" class="section-video bgc-two">

<div class="container">
	
	<!-- ===== Video ===== -->
<!--	<div class="row">
		<div class="col-md-6">
		    <div class="container-video">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt asperiores maiores quos corrupti expedita ducimus quibusdam amet, dolore ipsum cumque ad eum praesentium aut numquam laborum, id voluptatem dolorem doloribus.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tempora iste explicabo illo tenetur minima vitae animi optio eveniet temporibus ducimus, sequi molestias rem alias consectetur totam mollitia obcaecati est.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi explicabo inventore dicta error officia ratione dolore illo iusto sunt atque. Consectetur alias dolorum perspiciatis mollitia obcaecati, ab distinctio, doloribus asperiores?</p>
			</div>
		</div>
		<div class="col-md-6">
			
			<!-- ===== Images ===== -->
<!--			<div class="">
				<img src="{% static 'images/pro.jpg' %}" alt="Feature" class="img-responsive">
			</div>
		</div>
	</div>
	
</div> 
-->
</section>

<!-- ===== Section Features ===== -->
<section id="section-features" class="section-features bgc-two">

<div class="container">
	
	<h2>活动</h2>
	
	<div class="underline">
	</div>
	
	<div class="sub-sub">
		联闪信息科技本着顾客至上，省钱精购为顾客提供优质网购环境以及商品的原则，组织专业精选团队通过商铺资质审核、商铺信用评级、商品品质检查等多种手段为客户精心挑选高性价比、7天无理由退货淘宝商品。购物过程直接接入淘宝，免除第三方购物的陷阱危险，给客户带来震撼的购物体验.
	</div>
	
	<div class="features">
		
		<div class="row">
			
			<!-- ===== Feature Post===== -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fa fa-laptop"></i>
					</div>
					<h7>领券购</h7>
					<p>
						精选淘宝商铺商品并为客户申请最大程度淘宝店铺购物券，顾客购物省时省力.
					</p>
				</div>
			</div>
			
			<!-- ===== Feature Post===== -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fa fa-cog"></i>
					</div>
					<h7>9块9</h7>
					<p>
						精选9块9包邮商品，为顾客提供高性价比购物体验.
					</p>
				</div>
			</div>
			
			<!-- ===== Feature Post===== -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fa fa-heart"></i>
					</div>
					<h7>限时抢</h7>
					<p>
						精选当季特色商品，每天限时特价等你来抢.
					</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			

			
			<!-- ===== Feature Post===== -->
		
			<div class="col-md-4">
				<div class="feature">
					<div class=""> <!--icon-->
						<i class=""></i><!--fa fa-envelope-->
					</div>
					<h4></h4>
					<p>
						
					</p>
				</div>
			</div>
			
					<!-- ===== Feature Post===== -->
			<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fa fa-thumbs-up"></i>
					</div>
					<h7>更多精彩敬请期待</h7>
					<p>
						Coming Soon.
				</div>
			</div>
		
		<!-- ===== Feature Post===== -->
		<!--	
		<div class="col-md-4">
				<div class="feature">
					<div class="icon">
						<i class="fa fa-coffee"></i>
					</div>
					<h4>Enjoy</h4>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod dicta incidunt quaerat, ut ex, repellendus reiciendis necessitatibus deserunt! Eos, ut laboriosam necessitatibus velit explicabo veritatis tempore mollitia. Voluptatibus, repellat.
					</p>
				</div>
			</div>
		</div> 
	</div>
	-->
		<div class="row portfolio">
		
		<div id="portfolio" class="owl-carousel owl-theme">
			
			<div class="portfolio-images">
				<a href="{% static 'images/portfolio/ninedotnine.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/ninedotnine.jpg' %}" alt="portfolio"></a>
			</div>
			
			<div class="portfolio-images">
				<a href="{% static 'images/portfolio/coupon.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/coupon.jpg' %}" alt="portfolio"></a>
			</div>
			
			<div class="portfolio-images">
				<a href="{% static 'images/portfolio/rushbuy.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/rushbuy.jpg' %}" alt="portfolio"></a>
			</div>
			
			<!--<div class="portfolio-images">
				<a href="{% static 'images/portfolio/purchase.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/purchase.jpg' %}" alt="portfolio"></a>
			</div>-->
			
						<div class="portfolio-images">
				<a href="{% static 'images/portfolio/rushbuy1.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/rushbuy1.jpg' %}" alt="portfolio"></a>
			</div>
			
									<div class="portfolio-images">
				<a href="{% static 'images/portfolio/buying1.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/buying1.jpg' %}" alt="portfolio"></a>
			</div>
			
									<div class="portfolio-images">
				<a href="{% static 'images/portfolio/buying2.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/buying2.jpg' %}" alt="portfolio"></a>
			</div>
		</div>
		
	</div> <!-- ===== End Portfolio ===== -->

</div> 
</section>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
<!-- ===== Section Pricing ===== -->
<section id="section-pricing" class="section-pricing bgc-one">
<div class="container">
	
	<h2>欢迎关注我们的微信公众号</h2>
	<div class="underline">
	</div>
	
	<div class="sub-sub">
		更多信息扫描下方二维码
	</div>
	
	<div class="pricing-table">
		
		<!-- ===== Pricing Table ===== -->
		<div class="row">
			       <div class="image">
                  <img src="{% static 'images/qrcode/code.jpg' %}" alt="">
              </div>  
				
			<!-- ===== Pricing one ===== -->
<!--			<div class="col-md-4">
				<div class="package background-color-white">
					<div class="header-dark">
						<h3>Web Personal</h3>
						<div class="sub-sub">
							$0 / Year
						</div> 
					</div>
					
					<!-- ===== Package Details ===== -->
<!--					<div class="package-features">
						<ul>
							<li>
							    Free Domain .com
							</li>
							<li>
							    Free Support
							</li>
							<li>
							    Uptuyou
							</li>
							<li>
							    Unlimited
							</li>
							<li>
							    Coffee Free
							</li>
							<li>
							    16 GB free Hosting
							</li>
						</ul>
						<div class="bottom-row">
							<div class="column-button">
								<div id="call_to_action-1">
									<a href="#" class="btn secondary-button">SIGN UP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- ===== End Pricing One ===== -->
			
			<!-- ===== Pricing Two ===== -->
	<!--		<div class="col-md-4">
				<div class="package-center background-color-white">
					<div class="header">
						<h3>Web Group</h3>
						<div class="sub-sub">
							$160 / Year
						</div>
					</div>
					
					<!-- ===== Package Details ===== -->
	<!--				<div class="package-features">
						<ul>
							<li>
							    Free Domain .com
							</li>
							<li>
							    Free Support
							</li>
							<li>
							    Uptuyou
							</li>
							<li>
							    Unlimited
							</li>
							<li>
							    Coffee Free
							</li>
							<li>
							    16 GB free Hosting
							</li>
						</ul>
						<div class="bottom-row">
							<div class="column-3p">
								<div id="call_to_action-2">
									<a href="#" class="btn standard-button">SIGN UP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- ===== End Pricing Two ===== -->
			
			<!-- ===== Pricing three ===== -->
	<!--		<div class="col-md-4">
				<div class="package background-color-white">
					<div class="header-dark">
						<h3>Web businnes</h3>
						<div class="sub-sub">
							$470 / Year
						</div>
					</div>
					
					<!-- ===== Package Details ===== -->
	<!--				<div class="package-features">
						<ul>
							<li>
							    Free Domain .com
							</li>
							<li>
							    Free Support
							</li>
							<li>
							    Uptuyou
							</li>
							<li>
							    Unlimited
							</li>
							<li>
							    Coffee Free
							</li>
							<li>
							    16 GB free Hosting
							</li>
						</ul>
						<div class="bottom-row">
							<div class="column-3p">
								<div id="call_to_action-3">
									<a href="" class="btn secondary-button">SIGN UP</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- ===== End Pricing Three ===== -->
			
			
		</div> 
	</div>
	
</div> 

</section>

<!-- ===== Section Portfolio ===== -->
<!--<section id="section-portfolio" class="section-portfolio bgc-one">
<div class="container">
	
	<h2>MyPortfolio</h2>
	<div class="underline">
	</div>
	
	<div class="sub-sub">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique accusantium laborum veniam nisi inventore neque commodi odit repellat dignissimos iste ratione illo sint, magnam sapiente autem. Suscipit nostrum, nesciunt similique.
	</div>
	
	<!-- ===== Portfolio ===== -->
	<!--
	<div class="row portfolio">
		
		<div id="portfolio" class="owl-carousel owl-theme">
			
			<div class="portfolio-images">
				<a href="{% static 'images/portfolio/1.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/1.jpg' %}" alt="portfolio"></a>
			</div>
			
			<div class="portfolio-images">
				<a href="{% static 'images/portfolio/2.png' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/2.png' %}" alt="portfolio"></a>
			</div>
			
			<div class="portfolio-images">
				<a href="{% static 'images/portfolio/3.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/3.jpg' %}" alt="portfolio"></a>
			</div>
			
			<div class="portfolio-images">
				<a href="{% static 'images/portfolio/4.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio/4.jpg' %}" alt="portfolio"></a>
			</div>
		</div>
		
	</div> <!-- ===== End Portfolio ===== -->
	<!--
</div>

</section>
-->

<!-- ===== Testimonial Section ===== -->
<!--<section id="section-testimonial" class="bgc-two">
      
    <div class="bg-color bg-testimonial">
        <div class="section-testimonial section-padding">
            <div class="testimonial-slide">
                <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-testimonial" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-testimonial" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">

                    <div class="item">
                        <div class="image">
                          <img src="{% static 'images/testimonials/doe1.jpg' %}" alt="">
                        </div>                  
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium minus, earum optio amet consequatur vero ipsum saepe quis accusantium! Illum soluta impedit odio fugiat maiores fuga nostrum, molestiae vero sit.</p>
                           <h4>Joni Doe</h4>
                           <h5>Writer</h5>
                        </div>                   
                    </div> 

                    <div class="item active left">
                        <div class="image">
                          <img src="{% static 'images/testimonials/doe2.jpg' %}" alt="">
                        </div>                  
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum delectus sed distinctio provident laboriosam culpa, cumque quasi omnis sit illum velit doloribus voluptate quibusdam laudantium in. Rerum autem, ipsum fugit.</p>
                          <h4>Jonathan Doe</h4>
                          <h5>Web Designer</h5>
                        </div>                  
                    </div> 

                    <div class="item next left">
                        <div class="image">
                          <img src="{% static 'images/testimonials/doe3.jpg' %}" alt="">
                        </div>                  
                        <div class="content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quis quod eos placeat iusto, aliquid, dicta odit ipsum facere tenetur aperiam commodi sit nostrum libero reiciendis accusantium, cumque tempora deleniti.</p>
                          <h4>William Doe</h4>
                          <h5>Web developer</h5>
                        </div>                  
                    </div> 

                    </div> 
                </div>
            </div> 
        </div> 
    </div>

</section>
-->
<!-- ===== End Testimonial Section ===== -->

<!-- ===== Contact Us ===== -->
<section id="section-contact" class="section-contact bgc-two">
<div class="container">
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<h2>联系我们</h2>
			<div class="underline"></div>
			<div class="sub-sub">
			    上海联闪，期待您的莅临.
			</div>
			
            <!-- ===== Form ===== -->
            <form class="contact-form" id="contact" role="form", method="post" action="/send/">
				{% csrf_token %}
                <!-- ===== Succes Send Email ===== -->
                <div class="sub-sub"> {{ msg }} </div>

                <!-- ===== Error Send Email ===== -->
                <h6 class="error">
                <span class="icon_error-circle_alt"></span> 您的消息等待发送. </h6>

                <div class="field-wrapper col-md-6">
                    <input class="form-control input-box" id="contact-form-name" type="text" name="name" placeholder="姓名">
                </div>

                <div class="field-wrapper col-md-6">
                    <input class="form-control input-box" id="contact-form-email" type="email" name="email" placeholder="电子邮件">
                </div>

                <div class="field-wrapper col-md-12">
                    <input class="form-control input-box" id="contact-form-subject" type="text" name="subject" placeholder="主题">
                </div>

                <div class="field-wrapper col-md-12">
                    <textarea class="form-control textarea-box" id="contact-form-message" rows="7" name="content" placeholder="内容"></textarea>
                </div>

                <button class="btn standard-button" type="submit" id="contact-form-submit" name="submit" data-style="expand-left">发送</button>
            </form>
            <!-- ===== End Form ===== -->
			
		</div>
	</div>
	
</div>

</section>


<!-- ===== Footer ===== -->
<footer class="bgc-two">
<div class="container">
	
	
	
	<!--
	<ul class="social-icons">
		<li><a href=""><i class="fa fa-facebook"></i></a></li>
		<li><a href=""><i class="fa fa-twitter"></i></a></li>
		<li><a href=""><i class="fa fa-google"></i></a></li>
		<li><a href=""><i class="fa fa-youtube"></i></a></li>
	</ul>
	-->
	
	<div class="copyright">
		 Copyright © 2017 上海联闪信息科技有限公司.  All Right Reserved.
		 <!--More Templates <a href="http://nanyi.tech/" target="_blank" title="">nanyi tech</a> - Collect from <a href="http://nanyi.tech/" title="" target="_blank">技术创新</a> -->
	</div>
		<div>
			<h8>
		 购物链接 
		 <a href="https://s.click.taobao.com/rwoC1pw" target="_blank" title="">天猫精选</a> 
		 <a href="https://s.click.taobao.com/G7XC1pw" target="_blank" title="">淘宝优惠购</a> 
		 <a href="https://s.click.taobao.com/Z66B1pw" target="_blank" title="">聚划算</a> 
			</h8>
		 </div>
		 <div>
		 <h9> ©2017 联闪信息 沪ICP备17017973号</h9>
	</div>
	
</div>
</footer>


<!-- ===== Script Javascript ===== -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/preloader.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/retina.js' %}"></script>
<script src="{% static 'js/SmoothScroll.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
<script src="{% static 'js/simple-expand.min.js' %}"></script>
<script src="{% static 'js/jquery.nav.js' %}"></script>
<script src="{% static 'js/jquery.fitvids.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261869913'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261869913%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>